.App {
  text-align: center;
  height: 100vh;

  border: 1px solid;
}

.header {
  font-size: 30px;
  background-color: darkseagreen;
  margin: 0;

  font-size: 42px;
  height: 56px;
}

.cards {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;

  height: 80%;
  text-align: left;
}

.card {
  border-radius: 17px;
  background-color: paleturquoise;

  flex-grow: 1;

  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.school {
  font-size: 22px;
  width: 106px;
  height: 36px;
}

span.school {
  align-items: center;
  display: flex;
  justify-content: center;
}

.date-picker {
  border: 1px solid;
}
