@font-face {
  font-family: "hobo-std";
  src: url("HoboStd.otf");
}

.Calendar {
  font-family: hobo-std, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.Calendar .header2 {
  text-align: center;
  background-color: #5CDB95;
  height: 56px;
  font-size: 42px;
}

.month {
	display: flex;
	flex-wrap: wrap;	
}

.Bubble.days.day {
  display: flex;
}

.Bubble {
  border-radius: 50%;
  height: 43px;
  background-color: #5CDB95;	
	/*margin: 5px;*/
	
}

.empty {
  border-radius: 50%;
  height: 43px;
  background-color: white;	
	margin: 5px;
}

.week-days {
  /* Weekdays (Mon-Sun) */
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color:bisque;
}

.week-days li {
  display: inline-block;
  width: 13.28%;
  margin: .5%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  display: contents;
  width: 13.6%;
  margin: .5%;
  width: 100%;
}

.days li {
  list-style-type: none;
  display: inline-block;
  margin: .5%;
  text-align: center;
  /*margin-bottom: 5px;*/
  font-size:12px;
  color: #05386B;

  height: 13.28vw;
  width: 13.28vw;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

.calendar-number {
  font-size: 18px;
  position: absolute;
}

.available {
  height: 9.28vw;
  position: relative;
  left: 4px;
  top: 3px;
}

.times {
  display: flex;
  width: 100%;
}

.time {
  flex-grow: 1;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 50px;
  text-align: center;
  background-color: #5CDB95;
  width: 20vw;
  height: 7vh;

  display: flex;
  align-items: center;
  justify-content: center;
}