/*This is the div containing the dropdown*/
.school-dropdown {
  width: 50%;
  height: 60%;

  border: 0px;
  background-color: paleturquoise;

}

/*The control, ie the component*/
.school-dropdown .Select-control {
  background-color: paleturquoise !important;
  border: 0px !important;
  height: 72px !important;
}

/*Placeholder Text*/
.school-dropdown .Select-placeholder {
  /*color: #ff1313 !important;*/
  /*left: 20% !important;*/
}
