@font-face {
  font-family: "hobo-std";
  src: url("HoboStd.otf");
}

.cards-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
  width: 100vw;
}

.header-card {
  width: 100%;
  height: 40vh;

  display: flex;
  align-content: center;
  align-items: center;

  background-color: #5CDB95;
}

.header-text {
  max-width: 300px;
  margin: 8px;
  margin-left: auto;
  margin-right: auto;

  font-family: hobo-std, sans-serif;
  font-style: normal;
  font-weight: 400;

  font-size: 40px;
  text-align: center;
}

.controls {
	height: 100%;
  width: 100vw;

  background-color: #05386B;
	font-size: 30px;
	font-family: hobo-std, sans-serif;
	font-style: normal;
	font-weight: 400;
}

.controls .school {
  width: 50vw;
  padding: 7px;

  position: absolute;
  float: left;
  left: 0;
  bottom: 48px;

  display: flex;
  justify-content: center;
  
  background-color: #5CDB95;
}

.controls .insurances {
  width: 50vw;
  padding: 7px;

  position: absolute;
  float: right;
  right: 0;
  bottom: 48px;

  display: flex;
  justify-content: center;
  
  background-color: #5CDB95;

}

.controls .go {
  width: 100%;
  padding: 7px;
  
  position: absolute;
  bottom: 0;
  
  background-color: #5CDB95;
  text-align: center;
}
