/*This is the div containing the dropdown*/
.insurance-dropdown {
  width: 145px;
  height: 100%;

  font-size: 22px;

  border: 0px;
  background-color: #5cdb95;

}

/*The control, ie the component*/
.insurance-dropdown .Select-control {
  background-color: #5cdb95 !important;
  border: 0px !important;
  height: 36px !important;
  width: 145px !important;
}

/*Placeholder Text*/
.Select-placeholder {
  color: black !important;
  line-height: normal !important;

}
