@font-face {
  font-family: "hobo-std";
  src: url("HoboStd.otf");
}

.header {
  display: flex;
  flex-direction: column;
}

.question {
  text-align: center;
  font-size: 33px;
  margin-top: 50px;
}

.answers {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-top: 20px;
}

.pageContainer {
  font-family: hobo-std, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.yes {
  border: 1px grey solid;

  margin-left: 10px;
  margin-right: 10px;
}

.no {
  border: 1px grey solid;
  
  margin-left: 10px;
  margin-right: 10px;
}